header h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 3em;
}
header h3{
    color: goldenrod;
}
header p{
    color: white;
}
a:hover{
     color:darkcyan;
    text-decoration: none;
}
a{
    color: lightblue;
}
header{
    background-color: black;
}

body{
    font-family: "Arial", sans-serif;
}

time{
    background-color: darkgrey;
    border: groove darkcyan;
}
img {
    width: 200px;
    height: 200px;
    float: right ;
}
main h1 {
    font-size: 2em;
}
footer {
    background-color: black;
    color: white;
    text-align: right;
}